# Python/Django
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
.env
backend/venv
*.egg-info/
.eggs/
*.log
*.pot
*.py[cod]
*.so
*.DS_Store

# React
node_modules/
build/
*.log
*.env
*.cache
*.DS_Store
*.video.mp4

# Terraform
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform/

terraform.tfstate.backup
.terraformrc
terraform.rc

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log
*.pid
*.gz

# Coverage reports
.coverage
coverage.xml
nosetests.xml
test_coverage/

# Environment Variables
.env
.env.*
.env.local
.env.*.local
.env.development
.env.test
.env.production

# AWS
.aws/
aws.json
credentials
config

# MongoDB
mongodb.config
*.pem
*mongodb*.json

# Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dist/
coverage/

# Secrets and Keys
*.key
*.pem
*.crt
*.cert
*.password
*secret*
*credential*
